<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="../App.css" rel="stylesheet">
</head>

<body>
    <div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50 hidden" id="modal">
        <div class="forgot-password w-96 p-6 rounded shadow-lg">
            <h2 class="text-lg font-semibold text-center">Forgot Password</h2>
            <!-- <button class="text-gray-600 hover:text-gray-700 focus:outline-none" id="close-modal">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M14.293 5.293a1 1 0 011.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 111.414-1.414L10 8.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
            </button> -->

    <div class="">
        <div>
            <label style="font-size: 12px;" for="">Email</label>
            <div  class="email-box  w-80 rounded-lg ">
                <i class="fas fa-lock"></i>
            <input type="text" placeholder="Enter your email" class="email-input ">
            </div>
        </div>
    <button class="w-80  rounded-lg  mt-4  border submit-btn">Submit</button>
    </div>
    <div>
    <button class="w-80 rounded-lg mt-4 border backToLogin">Back to Login</button>
    </div>
  </div>
</div>
      
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="open-modal">Open Modal</button>
      
</body>

</html>
<script>
 const openModalButton = document.getElementById('open-modal');
const closeModalButton = document.getElementById('close-modal');
const modal = document.getElementById('modal');

openModalButton.addEventListener('click', () => {
  modal.classList.remove('hidden');
});

closeModalButton.addEventListener('click', () => {
  modal.classList.add('hidden');
});

</script>